<% layout('layouts/boilerplate') %>
<h1>Edit Activity</h1>
<form action="/activities/<%= activity._id %>?_method=PUT" method="POST">
  <div>
    <label for="title">Title</label>
    <input type="text" id="title" name="activity[title]" value="<%= activity.title %>">
  </div>
  <div>
    <label for="location">Location</label>
    <input type="text" id="location" name="activity[location]" value="<%= activity.location %>">
  </div>
  <button>Save</button>
</form>
<a href="/activities/<%= activity._id %>">Back to Activity</a>