<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activities</title>
</head>

<body>
    <h1>All Activities</h1>
    <div>
        <a href="/activities/new">Add Activity</a>
    </div>
    <ul>
        <% for (let activity of activities) { %>
            <li><a href="/activities/<%= activity._id %>">
                    <%= activity.title %>
                </a></li>
            <% } %>
    </ul>
</body>

</html>