<% layout('layouts/boilerplate') %>
<h1>All Activities</h1>
<div>
  <a href="/activities/new">Add Activity</a>
</div>
<ul>
  <% for (let activity of activities) { %>
  <li><a href="/activities/<%= activity._id %>">
      <%= activity.title %>
    </a></li>
  <% } %>
</ul>