<% layout('layouts/boilerplate') %>
<div class="row">
  <h1 class="text-center">New Activity</h1>
  <div class="col-6 offset-3">
    <form action="/activities" method="POST" class="needs-validation" enctype="multipart/form-data" novalidate>
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="activity[title]" required>
        <div class="invalid-feedback">
          Please provide a title
        </div>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input type="text" class="form-control" id="location" name="activity[location]" required>
        <div class="invalid-feedback">
          Please provide a location
        </div>
      </div>
      <div class="mb-3">
        <!-- <label for="image" class="form-label">Image Url</label>
        <input type="text" class="form-control" id="image" name="activity[image]" required> -->
        <label for="image" class="form-label">Upload Images</label>
        <input class="form-control" type="file" id="image" name="image" multiple required>
        <div class="invalid-feedback">
          Please add an image
        </div>
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <div class="input-group">
          <span class="input-group-text">$</span>
          <input type="number" class="form-control" id="price" name="activity[price]" placeholder="0.00" required>
          <div class="invalid-feedback">
            Please provide a price
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" name="activity[description]" rows="3" required></textarea>
        <div class="invalid-feedback">
          Please provide a description
        </div>
      </div>
      <button type="submit" class="btn btn-success">Add Activity</button>
    </form>
  </div>
</div>