<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/css/hostStyles.css">

<div class="row">
  <div class="col-lg-8 offset-lg-2">
    <div class="d-flex justify-content-center align-items-center mb-5">
      <img class="me-3 profile-img host-img" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="">
      <h1>Hey, I'm <%= host.firstName %>!</h1>
    </div>
    <h3 class="mb-3">About Me</h3>
    <div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem quidem, dicta deserunt porro quisquam quasi illo ab cupiditate! Laboriosam, repellendus asperiores impedit ad possimus unde dolorum! A sit impedit nesciunt?
      Aut ad nesciunt assumenda repellat, vitae maiores asperiores debitis nemo quaerat fugiat officia quisquam, vel ipsam ipsa vero provident rerum tempore modi voluptatem perspiciatis accusantium dolore! Dolores veniam provident at!</div>
  </div>
</div>